/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: 700;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar .profile_img{
  width: 25px;
  height: 25px;
  background-color: rgb(197, 194, 194);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;

}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #575757;
}

.App {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  /* background: #fff; */
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

h2 {
  color: #333;
}

/* main.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  /* background-color: #007bff; */
}

.header_text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #d3d1d1;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
}

.btn_login {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  margin-top: 30px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_login:hover {
  background-color: #0056b3;
}

